.heading-container {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin: 8rem 1.5rem 2rem 1.5rem;
    border-bottom: solid 1px #ddd;
}

.heading-container h2 {
    width: 100%;
    max-width: 1200px;
    display: block;
    font-style: italic;
    color: #10325A;
    font-size: 1.8em;
}